{% extends 'base.html' %}

{% block header %}
    <h1>Hello world</h1>
    {{ block.super }}
{% endblock %}

{% block content %}
    <p>{{ qn }}</p>
    <form role="form" action="{% url 'result' qn %}" method="post">
        {% csrf_token %}
        <label for="id_first">Answer</label>
        <input id="id_first" type="text" name="first" maxlength="100">

        <button type="submit">Submit</button>
    </form>

    {#    {% for foo in qn %}#}
    {#        <p>{{ foo }}</p>#}
    {#    {% endfor %}#}


{% endblock %}